body{
	margin:0px;
	font-family:Helvetica, Arial, sans-serif;
	background-color:#EDF0F5;
}

.header-area{
	background-color:#405C9B;
	padding:20px 50px;
}

.header-area .logo-area{
	width:20%;
	float:left;
}

.header-area .login-area{
	width:80%;
	overflow:hidden;
}

.header-area .logo-area h2{
	margin:0px;
	font-size:43px;
	color:#ffffff;
}

.header-area .login-area form{
	float:right;
}

.header-area .login-area form label{
	display:block;
	color:#ffffff;
}

.user-area{
	float:left;
}

.header-area .login-area a{
	display:block;
	color:#1877F2;
	text-decoration:none;
	margin:5px 0px 0px;
}

.header-area .login-area a:hover{
	text-decoration:underline;
}

.patten-area{
	overflow:hidden;
	float:left;
	margin-left:15px;
}

input[type="submit"] {
    margin: 17px 10px 0px;
	background-color:#166FE5;
	color:#ffffff;
	border:none;
}

input[type="submit"]:hover{
	background-color:#207df9;
	cursor:pointer;
}

/*connect friends Start*/

.content-area .facebook-friends{
	width:40%;
}

.title-area{
	padding:30px 0px;
}

.title-area h2{
	font-size:36px;
}

.update-area img{
	float:left;
}

.update-area {
	overflow:hidden;
	padding:15px 0px;
}

.share-area img{
	float:left;
}

.share-area {
	overflow:hidden;
	padding:15px 0px;
}

.more-area img{
	float:left;
}

.more-area {
	overflow:hidden;
	padding:15px 0px;
}

.facebook-friends p {
    margin: 20px 0px 0px 85px;
}

.facebook-friends {
    margin: 0px 0px 0px 50px;
	float:left;
}

.content-area .signup-area{
	width:50%;
	float:right;
}

.signup-area .head-title h2{
	font-size:38px;
	margin: 20px 0px -15px 0px;
    margin-left: 170px;
}

.signup-area .paragraph-title p{
	font-size:19px;
    margin-left: 170px;
}

form {
    margin-left: 170px;
}

.name-area input[type="text"] {
    font-size: 18px;
    padding: 5px;
	margin-bottom:10px;
	margin-right:10px;
	border-color:#dddddd40;
	outline:none;
}

.email-area input[type="text"] {
    font-size: 18px;
    padding: 5px;
	width:91%;
	margin-bottom:10px;
	border-color:#dddddd40;
	outline:none;
}

.pass-area input[type="password"] {
    font-size: 18px;
    padding: 5px;
	width:91%;
	margin-bottom:10px;
	border-color:#dddddd40;
	outline:none;
}

.dte-area{
	display:inline-block;
	float:left;
	margin-right:20px;
}

.dte-area select{
	font-size:15px;
}

input[type=radio]{
    border: 0px;
    width: 3%;
    height: 1em;
}

.gender-area{
	margin-left:10px;
}

.gender-area label{
	font-size:20px;
}

.ruls-area{
	width:75%;
}

button {
    background-color: #5F9849;
    color: #ffffff;
    font-size: 22px;
    font-weight: bold;
    padding: 7px;
    outline: none;
    border-color: #ddd;
}

a{
	text-decoration:none;
	color:#5960c5;
}

a:hover{
	text-decoration:underline;
}

button:hover {
	cursor:pointer;
}